<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data noupdate="0">
        <!-- This Menu Item will appear in the Upper bar, That's why It needs NO parent or action -->
        <menuitem id="housemaid_root"
            name="Housemaid"
            web_icon="static/description/icon.png"
            sequence="145" />
        <menuitem id="housemaid_menu_master"
            name="Master Data"
            parent="housemaid_root"
            sequence="10" />
        <!-- This Menu Item Must have a parent -->
        <menuitem id="housemaid_menu_tickets"
            name="Tickets"
            parent="housemaid_root"
            sequence="20" />




    </data>
</odoo>